{% extends "base.html" %}
{% block title%}Reset Password{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
    {% if validlink %}
    <h2>Enter Your New Password </h2>
    
    <form method="post" action="">
        {% csrf_token %}
        <table width="100%">
            <tr>
                <th>New password:</th>
                <td>
	                {{form.new_password1}}
	                {{form.errors.new_password1}}
                </td>
            </tr>
        	<tr>
        		<th>New password confirmation:</th>
	            <td>
	                {{form.new_password2}}
	                {{form.errors.new_password2}}
	            </td>
            </tr>
            <tr>
            	<th></th>
            	<td>
                	<input type="submit" name="save" id="save" value="Submit" />
                </td>
           	</tr>
		</table>
    </form>
    <br />
    {% else %}
    <h2> This password reset link has expired. </h2><br /><br />
    <a href="{% url 'password_reset'  %}">Reset Password</a><br/>
    <a href="{% url 'common_login'  %}">Return to Login Screen</a>
    {% endif %}
{% endblock %}
