{% extends "base.html" %}
{% block title%} Change Password{% endblock %}

{% block content %}
 	<h2>Change Password </h2>
    </br>	
	<form method="post" action="">
        {% csrf_token %}
        <p>
        <label for="id_old_password">
            Old Password:
        </label><br/>
            {{form.old_password}}
            {{form.errors.old_password}}
        </p></br>
        <p>
        <label for="id_new_password1">
            New password:
        </label><br/>
            {{form.new_password1}}
            {{form.errors.new_password1}}
            </p></br>
         <p>
         <label for="id_new_password2">
             New password confirmation:
         </label><br/>
            {{form.new_password2}}
            {{form.errors.new_password2}}
        </p></br>
        <input type="submit" name="save" id="save" />
	</form>
{% endblock %}

